.messages{
	border-radius: 0.2em;
	padding: 0.5em;
	font-style: bold;
}

.error{
	background-color: rgb(155, 208, 244);
}

.info{
	background-color: rgb(227, 150, 227);
}

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}
